services:
  controller:
    build:
      context: .
      dockerfile: docker/Dockerfile
    command: ./controller
    container_name: controller
    ports:
      - "8080:8080"

  node1:
    build:
      context: .
      dockerfile: docker/Dockerfile
    command: ./node
    environment:
      - NODE_ID=1
      - CONTROLLER_URL=http://controller:8080
    depends_on:
      - controller

  node2:
    build:
      context: .
      dockerfile: docker/Dockerfile
    command: ./node
    environment:
      - NODE_ID=2
      - CONTROLLER_URL=http://controller:8080
    depends_on:
      - controller